extends layout

block content
	div.container
		//- h1 Program Name
		p Hello World

	div.embed-responsive.embed-responsive-4by3
		iframe(src="https://onedrive.live.com/embed?cid=F14F6B91A5CE0457&resid=F14F6B91A5CE0457%2199965&authkey=ANkddIFNcXh_BxU&em=2" class="embed-responsive-item" frameborder="0" scrolling="no")