extends layout

block content
	div.container
		div.row
			div.col-sm
				div.embed-responsive.embed-responsive-16by9
					iframe#frame.embed-responsive-item(src="https://onedrive.live.com/embed?cid=F14F6B91A5CE0457&resid=F14F6B91A5CE0457%2199965&authkey=ANkddIFNcXh_BxU&em=2" frameborder="0" scrolling="no")
			div.col-4(contenteditable word-break: normal)
				div.words
					p
				

			