extends layout

block content
	div.container
		//- h1 Program Name
		p Hello World!
		
		div.row
			div.col-6
				div.embed-responsive.embed-responsive-16by9
					iframe.embed-responsive-item(src="https://onedrive.live.com/embed?cid=F14F6B91A5CE0457&resid=F14F6B91A5CE0457%2199965&authkey=ANkddIFNcXh_BxU&em=2" frameborder="0" scrolling="no")
			div.col-6
				h2 Hey Wassup